# Зависимости
node_modules/

# Переменные окружения (пароли, ключи и т.п.)
.env
.env.local

# Сборка (если будете использовать Vite/React)
dist/
build/

# Личные настройки редактора
.vscode/

# Системные файлы Windows
Thumbs.db