.ForgotLink {
    margin: 0 5px;
    text-decoration: underline;
}

.RegistLink {
    margin-top: 5px;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-black);
}