.RegistPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RegistWrapper {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.DocumentLink {
    text-decoration: underline;
    cursor: pointer;
}

.AuthLink {
    margin-top: 5px;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-black);
}